In [7]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import matplotlib as plt
import re as re

In [8]:
def vv4(row):
    row = str(row)
    X = [1,1,1]
    X[0] = row[0:4]
    X[1] = row[4:6]
    X[2] = row[6:8]
    return X[0]+'-'+X[1]+'-'+X[2]

def vv(row):
    X = row.split('-')
    return X[0]+X[1]+X[2]

def vv2(row):
    X = row.split('/')
    return X[0]

def DriveYearMonthDay(d):
    d['jalaliDate'] = d['jalaliDate'].astype(str)
    d['Year'] = d['jalaliDate'].str[0:4]
    d['Month'] = d['jalaliDate'].str[4:6]
    d['Day'] = d['jalaliDate'].str[6:8]
    d['jalaliDate'] = d['jalaliDate'].astype(int)
    return d


def convert_ar_characters(input_str):

    mapping = {
        'ك': 'ک',
        'گ':'گ',
        'دِ': 'د',
        'بِ': 'ب',
        'زِ': 'ز',
        'ذِ': 'ذ',
        'شِ': 'ش',
        'سِ': 'س',
        'ى': 'ی',
        'ي': 'ی'
    }
    return _multiple_replace(mapping, input_str)


def _multiple_replace(mapping, text):
    pattern = "|".join(map(ree.escape, mapping.keys()))
    return re.sub(pattern, lambda m: mapping[m.group()], str(text))

In [29]:
path = r"H:\Economics\Finance(Prof.Heidari-Aghajanzadeh)\Data"
n = path + '\Cleaned_Stocks_Holders_1399-09-12_From94.csv'
df = pd.read_csv(n)
#######
df = df.drop(df.loc[df['Holder']=='شخص حقیقی'].index)
df = df.drop(df[(df['Trade']=='No')&((df['close_price']==10)|(df['close_price']==1000)|(df['close_price']==10000)|(df['close_price']==100000))].index)
df = df.drop(df[(df['symbol'] == 'وقوام')&(df['close_price'] == 1000)].index)
symbols = [ 'سپرده','هما','وهنر-پذیره','نکالا','تکالا','اکالا','توسعه گردشگری ','وآفر','ودانا','نشار','نبورس','چبسپا','بدکو','چکارم','تراک','کباده','فبستم','تولیددارو','قیستو','خلیبل','پشاهن','قاروم','هوایی سامان','کورز','شلیا','دتهران','نگین','کایتا','غیوان','تفیرو','سپرمی','بتک']
df = df.drop(df[df['symbol'].isin(symbols)].index)
df = df.drop(df[(df.symbol == 'اتکای')&(df.close_price == 1000)].index)
HolderData = df

In [30]:
HolderData.tail()

,date,jalaliDate,Holder,nshares,Percent,shrout,close_price,group_id,group_name,symbol,stock_id,type,Number_Change,Percent_Change,Condition,Trade
4002592,20201027,13990806,وصنعت,55000000.0,1.83,4.000000e+09,11190.0,68.0,صندوق سرمایه گذاری قابل معامله,یاقوت,1.438515e+15,investment,0.0,0.0,Orginal,Yes
4002593,20201027,13990806,سبدگردان آگاه,175041329.0,5.83,4.000000e+09,11190.0,68.0,صندوق سرمایه گذاری قابل معامله,یاقوت,1.438515e+15,private,0.0,0.0,Orginal,Yes
4002594,20201027,13990806,مشاورسرمایه گذاری آوای آگاه,273648753.0,9.12,4.000000e+09,11190.0,68.0,صندوق سرمایه گذاری قابل معامله,یاقوت,1.438515e+15,private,0.0,0.0,Orginal,Yes
4002595,20201027,13990806,صندوق بازارگردانی آگاه,465330979.0,15.51,4.000000e+09,11190.0,68.0,صندوق سرمایه گذاری قابل معامله,یاقوت,1.438515e+15,MM fund,-27722.0,0.0,Orginal,Yes
4002596,20201027,13990806,ویستاسامانه آسا,491595023.0,16.38,4.000000e+09,11190.0,68.0,صندوق سرمایه گذاری قابل معامله,یاقوت,1.438515e+15,private,0.0,0.0,Orginal,Yes

In [31]:
path = r"H:\Economics\Finance(Prof.Heidari-Aghajanzadeh)\Data"
n1 = path + '\Stocks_Prices_1399-09-12' + '.csv'
df1 = pd.read_csv(n1)
############
df1['jalaliDate'] = df1['jalaliDate'].apply(vv)
df = df1
symbols = [ 'سپرده','هما','وهنر-پذيره','نکالا','تکالا','اکالا','توسعه گردشگری ','وآفر','ودانا','نشار','نبورس','چبسپا','بدکو','چکارم','تراک','کباده','فبستم','تولیددارو','قیستو','خلیبل','پشاهن','قاروم','هوایی سامان','کورز','شلیا','دتهران','نگین','کایتا','غیوان','تفیرو','سپرمی','بتک']
df = df.drop(df[df['name'].isin(symbols)].index)
df = df.drop(df[df.group_name== 'صندوق سرمایه گذاری قابل معامله'].index)
df = df.drop(df[(df.name == 'اتکای')&(df.close_price == 1000)].index)
df = df.drop_duplicates()
df = df.drop(df.loc[(df['volume'] == 0)].index).sort_values(by =['name','jalaliDate']).drop(columns = ['volume','quantity']).rename(columns = {'name':'symbol'})
df = DriveYearMonthDay(df)
col = 'symbol'
df[col] = df[col].apply(lambda x: convert_ar_characters(x))

In [34]:
df.tail()

,Unnamed: 0,jalaliDate,date,symbol,title,stock_id,group_name,group_id,baseVol,max_price,min_price,close_price,last_price,open_price,value,Year,Month,Day
1281044,1281044,13990908,20201128,گپارس,امور رفاهي كارگزاران پارس (گپارس) - بازار پايه...,59848307608894801,هتل و رستوران,55,149143.0,130113.0,122535.0,125905.0,123500.0,130113.0,2.062680e+10,1399,09,08
1281043,1281043,13990909,20201129,گپارس,امور رفاهي كارگزاران پارس (گپارس) - بازار پايه...,59848307608894801,هتل و رستوران,55,149143.0,128030.0,122280.0,124010.0,126000.0,122300.0,2.741307e+10,1399,09,09
1281042,1281042,13990910,20201130,گپارس,امور رفاهي كارگزاران پارس (گپارس) - بازار پايه...,59848307608894801,هتل و رستوران,55,149143.0,127730.0,123115.0,126912.0,127730.0,126900.0,3.170844e+10,1399,09,10
1281041,1281041,13990911,20201201,گپارس,امور رفاهي كارگزاران پارس (گپارس) - بازار پايه...,59848307608894801,هتل و رستوران,55,149143.0,130719.0,126950.0,130347.0,130719.0,130719.0,1.962626e+10,1399,09,11
1281040,1281040,13990912,20201202,گپارس,امور رفاهي كارگزاران پارس (گپارس) - بازار پايه...,59848307608894801,هتل و رستوران,55,149143.0,134257.0,131500.0,134099.0,134257.0,134257.0,2.316594e+10,1399,09,12

In [35]:
n2 = path + '\\balance sheet - 9811' + '.xlsx'
df2 = pd.read_excel(n2)
df2 = df2.iloc[:,[0,4,13,-7]]
df2.rename(columns={ df2.columns[0]: "symbol" ,df2.columns[1]: "date" ,df2.columns[2]: "BookValue" ,df2.columns[3] : "Capital"}, inplace = True)
df2['shrout'] = df2['Capital'] * 100
df2['Year'] = df2['date'].apply(vv2)
df2['Year'] = df2['Year'].astype(str)
df2 = df2.drop(columns = ['date','Capital'])
col = 'symbol'
df2[col] = df2[col].apply(lambda x: convert_ar_characters(x))

In [36]:
len(set(df2.symbol))

827

In [37]:
PriceData = df
PriceData = PriceData.merge(df2,on=['symbol','Year'],how = 'left')
PriceData[['BookValue','shrout']] = PriceData[['BookValue','shrout']].fillna(method='ffill')

In [39]:
PriceData = PriceData[['jalaliDate', 'date', 'symbol','close_price','shrout','BookValue']]
PriceData['date1'] = PriceData['date'].apply(vv4)
PriceData['date1'] = pd.to_datetime(PriceData['date1']) 
PriceData['day_of_year'] = PriceData['date1'].dt.day
PriceData['week_of_year'] = PriceData['date1'].dt.week 
PriceData['year_of_year'] = PriceData['date1'].dt.year

In [40]:
PriceData.tail()

,jalaliDate,date,symbol,close_price,shrout,BookValue,date1,day_of_year,week_of_year,year_of_year
1166612,13990908,20201128,گپارس,125905.0,1530700.0,18678.0,2020-11-28,28,48,2020
1166613,13990909,20201129,گپارس,124010.0,1530700.0,18678.0,2020-11-29,29,48,2020
1166614,13990910,20201130,گپارس,126912.0,1530700.0,18678.0,2020-11-30,30,49,2020
1166615,13990911,20201201,گپارس,130347.0,1530700.0,18678.0,2020-12-01,1,49,2020
1166616,13990912,20201202,گپارس,134099.0,1530700.0,18678.0,2020-12-02,2,49,2020

In [16]:
# def weekRet(g):
#     g['weekRet'] = (g.close_price.iloc[-1] - g.close_price.iloc[0])/g.close_price.iloc[0] * 100
#     return g

# gg = PriceData.groupby(['symbol', 'year_of_year','week_of_year'])
# d = gg.apply(weekRet)
#Don't Delete this cell

In [17]:
# def yearRet(g):
#     f = g.groupby(['year_of_year']).last().reset_index()
#     f['yearRet'] = f['close_price'].pct_change(periods = 1)*100
#     f = f[['year_of_year','symbol','week_of_year','yearRet']]
#     g = g.merge(f,on = ['year_of_year','symbol','week_of_year'])
#     return g

# gg = PriceData.groupby(['symbol', 'week_of_year'])
# d2 = gg.apply(yearRet)

In [41]:
gg = PriceData.groupby(['symbol'])
PriceData['yearRet'] = gg['close_price'].pct_change(periods = 250)*100
PriceData['Ret'] = gg['close_price'].pct_change(periods = 1)*100

In [42]:
PriceData = PriceData.reset_index(drop = True)
PriceData = PriceData.sort_values(by = ['symbol','date'])

In [43]:
shrout = HolderData[['symbol','shrout','date','jalaliDate']].drop_duplicates()
fkey = zip(list(shrout.symbol),list(shrout.date))
mapingdict = dict(zip(fkey,shrout.shrout))
PriceData['shrout2'] = PriceData.set_index(['symbol','date']).index.map(mapingdict)
PriceData.loc[~PriceData.shrout2.isnull(),'shrout'] = PriceData.loc[~PriceData.shrout2.isnull()]['shrout2'] 
PriceData = PriceData.drop(columns = ['shrout2'])

In [44]:
path2 = r"G:\TseClient\Data adjusted"
index = pd.read_excel(path2 + '\IRX6XTPI0009.xls')[['<COL14>','<CLOSE>']].rename(columns = {'<COL14>':'jalaliDate','<CLOSE>':'Index'})
index['Market_return'] =  index['Index'].pct_change(periods = 1)*100
Index = PriceData.merge(index , on ='jalaliDate')
Index = Index[['jalaliDate', 'date','week_of_year', 'year_of_year', 'Index',
       'Market_return']].drop_duplicates().sort_values(by = ['date'])

In [45]:
PriceData = PriceData.merge(index,on = ['jalaliDate']).drop_duplicates().sort_values(by = ['symbol','date'])

In [46]:
PriceData['MarketCap']= PriceData['close_price'] * PriceData['shrout']/1e5
PriceData['MarketCap'] = PriceData['MarketCap'].astype(int)
PriceData['BookToMarket'] = PriceData['BookValue']/PriceData['MarketCap']
PriceData = PriceData.reset_index(drop= True)
PriceData.tail()

,jalaliDate,date,symbol,close_price,shrout,BookValue,date1,day_of_year,week_of_year,year_of_year,yearRet,Ret,Index,Market_return,MarketCap,BookToMarket
967362,13990908,20201128,یاقوت,11409.0,40000000.0,419982.0,2020-11-28,28,48,2020,NaN,0.325361,1390803.4,1.728555,4563600,0.092029
967363,13990909,20201129,یاقوت,11432.0,40000000.0,419982.0,2020-11-29,29,48,2020,NaN,0.201595,1427198.6,2.616847,4572800,0.091844
967364,13990910,20201130,یاقوت,11451.0,40000000.0,419982.0,2020-11-30,30,49,2020,NaN,0.166200,1465934.2,2.714100,4580400,0.091691
967365,13990911,20201201,یاقوت,11454.0,40000000.0,419982.0,2020-12-01,1,49,2020,NaN,0.026199,1473701.9,0.529881,4581600,0.091667
967366,13990912,20201202,یاقوت,11458.0,40000000.0,419982.0,2020-12-02,2,49,2020,NaN,0.034922,1470967.6,-0.185540,4583200,0.091635

In [47]:
def Factor(g):
    Large = g.loc[g['MarketCap'] >= g['MarketCap'].quantile(0.9)]['Ret'].mean()
    Small = g.loc[g['MarketCap'] <= g['MarketCap'].quantile(0.1)]['Ret'].mean()
    
    Value = g.loc[g['BookToMarket'] >= g['BookToMarket'].quantile(0.9)]['Ret'].mean()
    Growth = g.loc[g['BookToMarket'] <= g['BookToMarket'].quantile(0.1)]['Ret'].mean()
    
    Winner = g.loc[g['yearRet'] >= g['yearRet'].quantile(0.9)]['Ret'].mean()
    Loser = g.loc[g['yearRet'] <= g['yearRet'].quantile(0.1)]['Ret'].mean()

    g['Winner_Loser'] = Winner - Loser
    g['SMB'] = Small - Large
    g['HML'] = Value - Growth
    
    g = g[['jalaliDate','date','SMB','HML','Winner_Loser','Market_return']].drop_duplicates(['date'])
    return g

WL = PriceData.groupby(['date'])
Factors = WL.apply(Factor)
Factors = Factors.reset_index(drop = True).drop(0)

In [48]:
Factors.tail()

      jalaliDate      date       SMB       HML  Winner_Loser  Market_return
2883    13990908  20201128 -0.680105 -1.598209      1.435511       1.728555
2884    13990909  20201129 -1.619483 -0.646124     -0.366239       2.616847
2885    13990910  20201130 -1.062186  1.714601     -0.160517       2.714100
2886    13990911  20201201 -0.595752  0.555956     -0.071474       0.529881
2887    13990912  20201202  0.351218 -0.764257      0.124712      -0.185540

In [49]:
Factors.to_excel(path + '\Analyzed Data'+'\Factors-Daily.xlsx',index= False)